{% extends "master.html" %}
{% block title %}
Masomoni - Student LIST
{% endblock%}

{% block content %}

{% for x in student %}

<h1>
    STUDENTS LIST
</h1>

{% if studentlist %}

<ul>
    {% for student in studentlist %}
    <li>
        {{ first_name }} | {{ grade }}
    </li>
    {% endfor %}
</ul>

{% else %}
<p> There are no students available </p>
{% endif %}


<p>
    Name : {{ x.first_name }} {{ x.last_name }}
</p>
<p>
    Reg No : {{ x.reg_no }}
</p>
<p>
    Grade : {{ x.grade }}
</p>
{% endfor %}
{% endblock  %}